/* Modify this style sheet by entering your own values
   
   Heres a good CSS reference if you need help:
   http://www.w3schools.com/css/css_reference.asp
   and a colour picker:
   http://www.tesspub.com/colours.html
*/

/* main body attributes */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	background-color: white;
	background-image: url();
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 8pt;
}

/* heading attributes */
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
h2  { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0px 0px 0px 5px }
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 0px;
}
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 0px;
}

/* paragraph attributes */
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
}

/* list attributes */
ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

/* link attributes */
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #384F89;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #51286C;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: underline;
}

/* formfield attributes */
.formfield  { color: black; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; border: solid 1px #003399 }
.formfieldR  { color: black; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: right; border: solid 1px #003399 }
form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 8pt;
}

/* main submit button */
.button  { font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; background: #f8f8f8 url(images/cellpic2.jpeg); border: solid 1px #354a81 }

/* small submit button at top */
.button2   { font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #f8f8f8; border: solid 1px #354a81 }

/* table border */
.tableborder {
	border: 1px #606060 solid;
}

/* user menu at top */
.topbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat-x;
	background-color: #D1D7DC;
	text-align: center;
	padding: 3px;
}

/* breadcrumbs */
td.breadcrumbs	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic3.gif');
	color: #FFFFFF;
	background-color: #006699;
	height: 26px;
}


/* 
td.rowpic {
		background-color: #FFFFFF;
		background-image: url('images/cellpic2.jpg');
		background-repeat: repeat-y;
}
*/

/* the menu */
td.row1, table.row1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	/* background-color: #EFEFEF; */
	vertical-align: top;	
	padding: 3px;
	font-size: 8pt;
}
td.row1ph, table.row1ph{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #EFEFEF;
	vertical-align: top;	
	padding: 3px;
	font-size: 8pt;
}

/* menu titles*/
td.cat, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* background-image: url('images/cellpic1.gif');
	background-repeat: repeat-x;
	background-color:#D1D7DC;  */
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 5px;
	white-space: nowrap;
}
td.cat2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* background-image: url('images/cellpic1.gif');
	background-repeat: repeat; */
	text-align: center;
	font-weight: bold;
	padding: 1px;
	border: 1px #98AAB1 solid;
}
td.cat2ph {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* background-image: url('images/cellpic1.gif');
	background-repeat: repeat; */
	text-align: center;
	font-weight: bold;
	padding: 1px;
	border: 1px #98AAB1 solid;
}
td.cat2b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*background-image: url('images/cellpic1.gif');
	background-repeat: repeat; */
	text-align: center;
	font-weight: bold;
	height: 27px;
	padding: 1px;
	border: 1px #98AAB1 solid;
}
td.cat2c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* background-image: url('images/cellpic1.gif');
	background-repeat: repeat; */
	text-align: center;
	font-weight: bold;
	height: 27px;
	padding: 1px;
	border: 1px #98AAB1 solid;
}
td.cat2d {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*background-image: url('images/cellpic1.gif');
	background-repeat: repeat; */
	text-align: center;
	font-weight: bold;
	height: 27px;
	padding: 1px;
	border: 1px #98AAB1 solid;
}
td.cat2e {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* background-image: url('images/cellpic1.gif');
	background-repeat: repeat; */
	text-align: center;
	font-weight: bold;
	height: 27px;
	padding: 1px;
	border: 1px #98AAB1 solid;
}
table.cat2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat-x;
	/*Remove this attribute, to fix Opera menu display problem*/
	/*height: 27px;*/
	text-align: center;
	font-weight: bold;
	border: 1px #98AAB1 solid;
}
table.cat3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* various line breaks */
td.row2 { 
	background-color: #98AAB1;  
	font-weight: normal;
	height: 1px;
}
td.row3 {
	/* background-color: #006699; */
	font-weight: normal;
	height: 1px;
}
td.row4 {
	/*  background-color: #f3f3f2; */
	font-weight: normal;
	height: 1px;
}

/* align text to the left */
.left {
	text-align: left;
}

/* pipe attribute  */
.spacer  { color: #006699; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif }

/* previous/next text attribute */
.bigspacer {
	color: #006699;
}

.bodyline { 
	/* background-color: #FFFFFF; */
	border: 0px #98AAB1 solid; 
}

.framework {
	background-color: #DFEFDF;
	border: 1px #98AAB1 solid;
}

.announcements {
	background-color: #EAFAEA;
	border: 1px #9899DF;
}

/* date attributes */
small.date  { color: #006699; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0px 0px 0px 5px }

.menuimage {
	vertical-align: middle;
	margin-top: 0px;
}

/* page breakline */
hr {
	color: #98AAB1;
	background-color: white;
	height: 1px;
}

/* box around a forum reply */
.block  { background-color: #ffffff; margin-right: 5px; margin-bottom: 0px; margin-left: 15px; padding: 5px; border: dotted 1px #98aab1; position: relative }

/* instructor graphs */
td.graph1  { 
	background-color: #EFEFEF;
	border-right: 1px #CFCFCF solid;
}
td.graph2  { 
	background-color: #EFEFEF;
	border-bottom: 1px #CFCFCF solid;
	font-size: 0.55em;
}
td.graph {
	background-image: url('images/graph.gif');
	background-color: ;
}
span.indentleft {
	margin-left: 10px;
}

/* menu title colour */
a.white:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: ;
}
a.white:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: ;
}
a.white:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: ;
}

/* message box styles */

/* error box */
table.errbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FF0000;
	border: 2px #EEEEEE solid;
}
tr.errbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	vertical-align:top;
}

/* help box */
table.hlpbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #006699;
	border: 2px #EEEEEE solid;
}
tr.hlpbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	vertical-align:top;
}

/* warning box */
table.wrnbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FF8400;
	border: 2px #EEEEEE solid;
}
tr.wrnbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	vertical-align:top;
}

/* feedback box */
table.fbkbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #30B626;
	border: 2px #EEEEEE solid;
}
tr.fbkbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	background-color:#EEEEEE;
	vertical-align:top;
}
select.dropdown   { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #f1f3f1 }                                                             
.copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;                                     
}   
