.ia{position:relative;width:99%;color:#000000;background-color:#ffffff;border:1px solid #444444}
.ib{color:#000000;background-color:#cccccc;border:1px solid #333333}
.tbl{position:relative;height:96%}